<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="assets/img/logo.png" class="smallLogo"/>
    <h1>Login</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Identification Card</ion-label>
        <ion-input autocomplete="off" type="text" name="identification_card" [(ngModel)]="postData.identification_card"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink='/register'>Create Account</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="loginAction()">Login</ion-button>
  </form>
</ion-content>
